@for $value from 0 through 40 {
  .u-m#{$value} {
      margin: $value * 5px !important;
  }
  //優先度をあげるためbody付与
  body .u-sp-m#{$value} {
    @include sp {
      margin: $value * 5px !important;
    }
  }
}
/* margin - utility
--------------------------------------------------------- */


/* auto margin */

.u-m-c {
  margin-right: auto !important;
  margin-left: auto !important;
}


/* Top margin */

@for $value from 1 to 26 {
  .u-mt-#{$value * $base-size - $base-size} {
    margin-top: $base-size * $value - $base-size + px !important;
    //sp
    @include sp {
      margin-top: floor(($base-size * $value - $base-size) * 0.5) + px !important;
    }
  }
}


/* Right margin */

@for $value from 1 to 26 {
  .u-mr-#{$value * $base-size - $base-size} {
    margin-right: $base-size * $value - $base-size + px !important;
    //sp
    @include sp {
      margin-right: floor(($base-size * $value - $base-size) * 0.5) + px !important;
    }
  }
}


/* Bottom margin */

@for $value from 1 to 26 {
  .u-mb-#{$value * $base-size - $base-size} {
    margin-bottom: $base-size * $value - $base-size + px !important;
    //sp
    @include sp {
      margin-bottom: floor(($base-size * $value - $base-size) * 0.5) + px !important;
    }
  }
}

@for $value from 1 to 11 {
  $num: "";
  @if $value < 10 {
    $num: "0#{$value}";
  }
  @else {
    $num: $value;
  }
  .u-mb-#{$num}em {
    margin-bottom: $value + em !important;
  }
}


/* Left margin */

@for $value from 1 to 26 {
  .u-ml-#{$value * $base-size - $base-size} {
    margin-left: $base-size * $value - $base-size + px !important;
    //sp
    @include sp {
      margin-left: floor(($base-size * $value - $base-size) * 0.5) + px !important;
    }
  }
}

@for $value from 1 to 11 {
  $num: "";
  @if $value < 10 {
    $num: "0#{$value}";
  }
  @else {
    $num: $value;
  }
  .u-ml-#{$num}em {
    margin-left: $value + em !important;
  }
}
