.top{
	.fv{
		display: flex;
		align-items: center;
		margin-top: 25px;
		padding: 0 35px;
		@include sp{
			margin-top: 85px;
			padding: 0 25px;
		}
		&__copyright{
			-ms-writing-mode: tb-rl;
  		writing-mode: vertical-rl;
			font-family: $font_en;
			font-size: 1.4rem;
			letter-spacing: .4rem;
			@include sp{
				display: none;
			}
		}
		&__image{
			position: relative;
			margin-left: 30px;
			@include sp{
				margin-left: 0;
			}
			&-pic{
				border-radius: 999px;
				@include sp{
					height: 540px;
					object-fit: cover;
				}
			}
			&-txt{
				position: absolute;
				width: 495px;
				bottom: 105px; left: 120px;
				@include sp{
					width: 260px;
					bottom: 65px; left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		&__scroll{
			position: absolute;
			bottom: 100px; left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			@include sp{
				bottom: 35px;
			}
			span{
				font-family: $font_en;
				font-size: 1.8rem;
				color: white;
				@include sp{
					font-size: 1.3rem;
				}
			}
			::after{
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				height: 80px;
				background: white;
				transform: translate(-50%, 25px);
				animation: pathmove 1.4s ease-in-out infinite;
				opacity:0;
			}
			@keyframes pathmove{
				0%{
					height: 0;
					top: 0;
					opacity: 0;
				}
				30%{
					height: 80px;
					opacity: 1;
				}
				100%{
					height: 0;
					top: 100px;
					opacity: 0;
				}
			}
		}
	}
	.profile{
		margin-top: 90px;
		&__ttl{
			font-family: $font_en;
			font-size: 4.5rem;
			font-weight: 500;
			letter-spacing: .1rem;
			text-align: center;
			@include sp{
				font-size: 2.5rem;
			}
		}
		&__content{
			display: flex;
			margin-top: 45px;
			@include sp{
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
		&__lb{}
		&__rb{
			margin-left: 90px;
			@include sp{
				margin-top: 35px;
				margin-left: 0;
			}
		}
		&__balloon{
			display: block;
			position: relative;
			font-family: $font_en;
			font-size: 1.7rem;
			letter-spacing: .17rem;
			font-weight: 300;
			text-align: center;
			margin-top: 25px;
			&::before, &::after{
				content: '';
				display: inline-block;
				position: absolute;
				width: 1px;
				height: 30px;
				background: #333333;
				top: 50%;
			}
			&::before{
				left: 25px;
				transform: translate(0, -50%) rotate(-22deg);
			}
			&::after{
				right: 25px;
				transform: translate(0, -50%) rotate(22deg);
			}
		}
		&__pic{
			margin-top: 45px;
			@include sp{
				margin-top: 18px;
				padding: 0 25px;
			}
		}

		&__info{
			background: #F9F9F9;
			padding: 45px 105px;
			border-radius: 35px;
			@include sp{
				padding: 40px 25px;
			}
		}
		&__name{
			font-size: 2.8rem;
			font-weight: 500;
			letter-spacing: .05rem;
			@include sp{
				font-size: 2.4rem;
			}
		}
		&__feature{
			font-size: 2rem;
			letter-spacing: .05rem;
			margin-top: 20px;
			&:first-of-type{
				margin-top: 40px;
			}
			@include sp{
				font-size: 1.8rem;
			}
		}
		&__txt{
			font-size: 1.6rem;
			font-weight: 400;
			letter-spacing: .05rem;
			margin-top: 5px;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}
	.works{
		margin-top: 85px;
		&__ttl{
			font-family: $font_en;
			font-size: 4.5rem;
			font-weight: 500;
			letter-spacing: .1rem;
			text-align: center;
			@include sp{
				font-size: 2.5rem;
			}
		}
		&__card{
			&-group{
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 45px 20px;
				margin-top: 40px;
				@include sp{
					grid-template-columns: repeat(1, 1fr);
				}
			}
			&-link{
				display: block;
				position: relative;
				aspect-ratio: 353 / 336;
				img:hover{
					opacity: 1;
				}
				&:hover{
					.works__card-content{
						opacity: 1;
					}
				}
			}
			&-image{
			}
			&-content{
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background: rgba(#759D9E, .6);
				top: 0; left: 0;
				z-index: 1;
				opacity: 0;
				transition: $trans_cmn;
			}
			&-readmore{
				display: flex;
				width: calc(100% - 25px * 2);
				height: calc(100% - 25px * 2);
				font-size: 2.4rem;
				font-weight: 500;
				letter-spacing: .07rem;
				color: white;
				text-align: center;
				justify-content: center;
				align-items: center;
				border: 2px solid white;
				border-radius: 87px;
				margin: 25px;
			}
			&-ttl{
				font-size: 1.8rem;
				letter-spacing: .07rem;
				margin-top: 14px;
			}
			&-cat{
				font-size: 1.7rem;
				letter-spacing: .07rem;
			}
		}
		&__note{
			font-size: 1.8rem;
			font-weight: 500;
			letter-spacing: .05rem;
			text-align: center;
			color: #808080;
			margin-top: 60px;
			@include sp{
				font-size: 1.6rem;
				text-align: left;
				margin-top: 35px;
			}
		}
	}
	.contact{
		background: #E9F2F2;
		margin-top: 125px;
		padding: 70px 0;
		@include sp{
			margin-top: 70px;
			padding: 50px 25px;
		}
		&__ttl{
			font-family: $font_en;
			font-size: 4.5rem;
			font-weight: 500;
			letter-spacing: .1rem;
			text-align: center;
			@include sp{
				font-size: 2.5rem;
			}
		}

		&__form{
			width: 850px;
			margin: 10px auto 0;
			padding: 60px 100px;
			background: white;
			border-radius: 20px;
			@include sp{
				width: 100%;
				margin: 25px auto 0;
				padding: 50px 25px;
			}
		}
		&__row{
			display: flex;
			align-items: baseline;
			@include sp{
				flex-direction: column;
			}
			&:not(:first-of-type){
				margin-top: 25px;
			}
		}
		&__label{
			display: flex;
			align-items: center;
			width: 185px;
			font-size: 1.6rem;
			font-weight: 500;
			@include sp{
				width: 100%;
			}
		}
		&__required{
			display: inline-block;
			height: max-content;
			height: -moz-max-content;
  		height: -webkit-max-content;
			font-size: 1.2rem;
			color: white;
			line-height: 1;
			background: #B0D0D1;
			padding: 5px 15px;
			border-radius: 4px;
			margin-left: auto;
			@include sp{
				margin-left: 16px;
			}
		}
		&__input{
			width: 412px;
			font-size: 1.4rem;
			border: 1px solid #DEDEDF;
			border-radius: 4px;
			margin-left: 50px;
			padding: 10px 15px;
			@include sp{
				width: 100%;
				margin-top: 16px;
				margin-left: 0;
			}
			&::placeholder{
				color: #B5B5B5;
			}
			&::-ms-input-placeholder {
				color: #B5B5B5;
			}
		}
		&__btn{
			text-align: center;
			margin-top: 45px;
		}
	}
}