.p-article{
  > *{
    margin-top: 0;
  }
  &__heading03{
    font-size: 2rem;
    margin-top: 24px;
  }
  &__txt{
    font-size: 1.8rem;
    margin-top: 16px;
    @include sp{
      font-size: 1.6rem;
    }
  }
  &__subtxt{
    font-size: 1.5rem;
    color: #808080;
  }
  &__link{
    color: #5A9395;
    border-bottom: 1px solid #5A9395;
    transition: $trans_cmn;
    &:hover{
      border-bottom: 1px solid transparent;
    }
    &--newtab{
      word-break: break-all;
      position: relative;
      padding-right: 18px;
      &::after{
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background:
          url('../images/common/icn_link_new-tab.svg')
          no-repeat center/contain;
        bottom: 2px; right: 0;
      }
    }
  }
  &__figure{
    margin-top: 24px;
    &-image{}
    &-caption{
      font-size: 1.5rem;
      color: #808080;
      text-align: center;
      margin-top: 8px;
    }
  }
  &__btn{
    margin-top: 24px;
  }
  &__box{
    background: #E9F2F2;
    border: 1px solid #5A9395;
    border-radius: 20px;
    margin-top: 24px;
    padding: 32px;
    @include sp{
      padding: 24px;
    }
    > *{
      margin-top: 0;
    }
  }
}