.p-sidebar{
  &__box{
    background: #F9F9F9;
    border-radius: 8px;
    padding: 32px;
    > *{
      margin-top: 0;
    }
  }
  &__heading04{
    font-size: 1.8rem;
    margin-top: 8px;
    @include sp{
      font-size: 1.6rem;
    }
  }
  &__link{
    color: #5A9395;
    border-bottom: 1px solid #5A9395;
    transition: $trans_cmn;
    &:hover{
      border-bottom: 1px solid transparent;
    }
    &--newtab{
      position: relative;
      padding-right: 18px;
      &::after{
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background:
          url('../images/common/icn_link_new-tab.svg')
          no-repeat center/contain;
        bottom: 2px; right: 0;
      }
    }
  }
  &__txt{
    font-size: 1.7rem;
    @include sp{
      font-size: 1.5rem;
    }
  }
  &__skill{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    &-item{
      font-size: 1.7rem;
      color: #5A9395;
      background: white;
      border: 1px solid #5A9395;
      border-radius: 999px;
      padding: 2px 20px;
      @include sp{
        font-size: 1.5rem;
      }
    }
  }

  &__share{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-top: 24px;
    &-ttl{}
    &-list{
      display: flex;
      gap: 16px;
    }
    &-item{}
    &-link{}
    &-image{
      width: 35px;
    }
  }
}