@import "../foundation/_variable";
@import "../foundation/_mixin";

.about{
  .features{
    .p-features{
      margin-top: 130px;
      @include sp{
        margin-top: 55px;
      }
    }
  }
  .greeting{
    background: #F7F7F7;
    padding: 50px 0 95px;
    &__ttl{
    }
    &__lead{
      margin-top: 15px;
    }
    &__contents{
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 0 40px;
      margin-top: 50px;
      @include sp{
        grid-template-columns: repeat(1, auto);
        gap: 45px 0;
      }
      &-lb{}
      &-rb{}
      &-pic{
        display: block;
        width: 240px;
        @include sp{
          margin: 0 auto;
        }
      }
      &-name{
        display: inline-block;
        width: 100%;
        color: $txt_color01;
        font-size: 2.2rem;
        text-align: center;
        margin-top: 15px;
      }
      &-job{
        display: inline-block;
        color: $txt_color01;
        font-size: 1.8rem;
        margin-right: 15px;
      }
      &-ttl{
        color: $txt_color01;
        font-size: 1.8rem;
        @include sp{
          font-size: 1.6rem;
        }
      }
      &-txt{
        display: inline-block;
        color: $txt_color01;
        margin-top: 15px;
      }
    }
  }
  .overview{
    margin-top: 100px;
    &__lead{
      margin-top: 40px;
      @include sp{
        font-size: 1.6rem;
      }
    }
    &__contents{
      margin-top: 20px;
      &-ttl:not(:first-child){
        margin-top: 35px;
      }
      &-list{
        margin-top: 20px;
      }
      &-txt{
        margin-top: 30px;
      }
    }
  }
}
.about .features{
  .wp-block-buttons {
    margin-top: 1em;
    @include sp {
      justify-content: center;
      font-size: 1.3rem;
    }
  }

}