@import "../foundation/_variable";
@import "../foundation/_mixin";


.curriculum{
  .basic{
    &__heading02{
      @include sp {
        font-size: 2.2rem;
      }
    }
    &__heading04{
      margin-top: 25px;
      @include sp {
        font-size: 1.7rem;
      }
    }
    &__strong{
      @include tabpc {
        max-width: 900px;
        margin: 15px auto 0;
      }
      @include sp {
        margin-top: 15px;
      }
    }
    &__content{
      @include tabpc {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        max-width: 900px;
        margin: 10px auto 0;
        &-lb{
          margin-right: 10px;
        }
      }
      @include sp {
        display: block;
        &-rb{
          margin-top: 15px;
        }
      }
    }
    &__list{
      display: grid;
      grid-template-columns: repeat(2, auto);
      @include tabpc {
        gap: 0 20px;
      }
      @include sp {
        gap: 0 0;
        margin-top: 15px;
      }
      & li{
        color: $txt_color01;
        @include sp {
          font-size: 1.6rem;
        }
        &:nth-of-type(2){
          margin-top: 0;
        }
      }
    }
    &__note{
      font-size: 1.3rem;
      color: #B5B5B5;
      margin-top: 15px;
    }
    &__pic{
      @include tabpc {
        display: block;
        width: 390px;
      }
      @include sp {
        width: 100%;
      }
    }
  }

  .expertBasic{
    margin-top: 60px;
    &__heading02{
      @include sp {
        font-size: 2.2rem;
      }
    }
    &__heading04{
      margin-top: 30px;
      @include sp {
        font-size: 1.7rem;
      }
      &--first{
        margin-top: 25px;
      }
    }
    &__strong{
      max-width: 900px;
      margin: 15px auto 0;
    }
    &__list{
      display: grid;
      @include tabpc {
        max-width: 900px;
        margin: 10px auto 0;
        grid-template-columns: repeat(3, auto);
        gap: 0 0;
      }
      @include sp {
        grid-template-columns: repeat(2, auto);
        gap: 0 0;
        margin-top: 15px;
      }
      li{
        color: $txt_color01;
        @include sp {
          font-size: 1.6rem;
        }
        &:nth-of-type(2){
          margin-top: 0;
        }
        &:nth-of-type(3){
          @include tabpc {
            margin-top: 0;
          }
        }
      }
    }
  }

  .expert{
    margin-top: 60px;
    &__heading02{
      @include sp {
        font-size: 2.2rem;
      }
    }
    &__heading04{
      margin-top: 35px;
      @include sp {
        font-size: 1.7rem;
      }
      &--first{
        margin-top: 0;
      }
    }
    &__content{
      @include tabpc {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0 0;
        margin-top: 15px;
      }
      @include sp {
        display: block;
        margin-top: 25px;
      }
      &-rb{
        @include sp {
          margin-top: 40px;
        }
      }
    }
    &__strong{
      margin-top: 15px;
      @include tabpc {
        padding-left: 50px;
      }
      a{
        text-decoration: underline;
        color: $cmn_color02;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &__eachArea{
      @include tabpc {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0 0;
        margin-top: 20px;
        margin-left: 50px;
      }
      @include sp {
        display: block;
        margin-top: 15px;
      }
      &-list{
        width: 165px;
        li{
          color: $txt_color01;
          @include sp {
            font-size: 1.6rem;
          }
        }
      }
      &-pic{
        display: block;
        @include tabpc {
          width: 320px;
        }
        @include sp {
          margin-top: 15px;
          width: 100%;
        }
        source, img{
          border-radius: 4px;
        }
      }
    }
    &__variety{
      @include tabpc {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0 0;
        margin-top: 15px;
      }
      @include sp {
        display: block;
        margin-top: 15px;
      }
      &-list{
        width: 165px;
        @include tabpc {
          margin-left: 50px;
        }
        li{
          color: $txt_color01;
          @include sp {
            font-size: 1.6rem;
          }
        }
      }
      &-pic{
        display: block;
        @include tabpc {
          width: 320px;
        }
        @include sp {
          margin-top: 15px;
          width: 100%;
        }
        source, img{
          border-radius: 4px;
        }
      }
    }
    &__training{
      background: $gray_color08;
      padding: 25px 35px;
      &-heading03{
        @include sp {
          font-size: 1.7rem;
        }
      }
      &-list{
        margin-top: 20px;
        li{
          color: $txt_color01;
          margin-top: 8px;
          @include sp {
            font-size: 1.6rem;
          }
        }
      }
      &-btn{
        text-align: center;
        margin-top: 35px;
      }
    }
    &__note{
      font-size: 1.3rem;
      color: #B5B5B5;
      margin-top: 35px;
    }
    &__syllabusBtn{
      margin-top: 65px;
      text-align: center;
      @include sp {
        margin-top: 35px;
      }
    }
  }

  .link{
    margin-top: 140px;
    @include sp {
    }
    .p-features {
      .p-features__card {
        @include sp {
          position: relative;
          &::before{
            position: absolute;
            content: '';
            width: 154px;
            height: 171px;
            background: url('../images/about/bg_features_odd_img01_sp.png') no-repeat center/contain;
            top: -20vh;
            left: -5vw;
            z-index: -1;
          }
          &::after {
            position: absolute;
            content: "";
            width: 47px;
            height: 47px;
            background: url(../images/about/bg_features_odd_img02.png) no-repeat center/contain;
            bottom: 0;
            right: 0;
            z-index: -1;
          }
        }
      }
    }
  }
}