.c-btn{
  &__wrap{
    display: inline-block;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-top: 3px solid white;
      border-right: 3px solid white;
      top: 50%; right: 24px;
      transform: translate(0, -50%) rotate(45deg);
      transition: $trans_cmn;
    }
    &:hover{
      .c-btn__link{
        color: #B0D0D1;
        background: white;
      }
      &::before{
        border-color: #B0D0D1;
      }
    }
  }
  &__link{
    display: inline-block;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    background: #B0D0D1;
    padding: 15px 105px;
    border: 2px solid #B0D0D1;
    border-radius: 999px;
    transition: $trans_cmn;
  }
}